.main {
  composes: page from "../../../../features/shared/PageLayout.module.css";
}

.dateFilterLabel {
  font-weight: var(--font-weight-bold);
}

.list {
  list-style: none;
}

.pagination {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: var(--space-3);
}
